{% use '@theme/partials/components/_product/productCard.twig' %}
{% block indexProductStyle %}
    {{ block('productCardStyle') }}
     <link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}
{% block indexProduct %}
    {% setcontent products = 'Produits' latest limit 2 %}
    <div class="services_section layout_padding mb-5">
        <div class="">
            <h1 class="services_taital">Nos produits</h1>
            <div class="services_section_2 layout_padding">
                <div class="row justify-content-between">
                    {% for product in products %}
                        <div class="col-12 col-xl-6">
                            {{ block('productCardContent') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="read_bt_1">
                <a href="{{ path('listing', {'contentTypeSlug': 'produits' }) }}">Voir nos produits</a>
            </div>
        </div>
    </div>

        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="htmx-results">
                            <h3>Running</h3>
                            <div class="progress">
                                <div id="pb" class="progress-bar" style="width:0%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock indexProduct %}

{% block indexProductJs %}
    <script type="text/javascript" src="{{ asset('js/dependency/notify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/products.js') }}"></script>
{% endblock %}
