{% if record|taxonomies['videos-tags'] is defined %}
    {% set tags = record|taxonomies['videos-tags'] %}
    {% set tagList = [] %}
    {% for tag in tags %}
        {% set tagList = tagList|merge([tag.slug]) %}
    {% endfor %}
{% else %}
    {% set tags = [] %}
    {% set tagList = ['no-tag'] %}
{% endif %}


{% if record|image %}
    <div class="card-container col-3 my-3 mx-2" style="background-image: url({{ record|thumbnail(480, 320) }})">
    {% else %}
        <div class="card-container col-3 my-3 mx-2" style="background-image: url({{ record.embedded.thumbnail }})">
        {% endif %}
        <div class="card-content d-flex flex-column justify-content-end">
            <div class="align-self-center my-auto">
                {% include 'pictures/play-solid.svg' %}
            </div>
            <h5 class="card-title fw-bold">{{ record|title }}</h5>
            <div class="my-2">
                {% if tags|length > 0 %}
                    Tags:
                    {% for tag in tags %}
                        <a href="{{ tag|link }}" class="tagBadge">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
