{# event = contentype #}

<div class="card-event card mb-3 col-12 col-xl-5 p-0">
    <a href="{{ event|link }}" class="row g-0 d-flex align-items-center">
        <div class="image-container col-12 col-md-5 position-relative">
            <div class="flag d-flex flex-column align-items-center justify-content-center">
                <div class="month mt-3">{{ (event.DateStart|format_datetime(locale='fr',pattern="MMM"))|capitalize }}</div>
                <div class="day">{{ event.DateStart|format_datetime(locale='fr',pattern="dd") }}</div>
            </div>
            <img src="{{ event.pictures }}" alt="{{ event.pictures.alt }}" class="col-12">
        </div>
        <div class="col-md-7 d-flex">
            <div class="card-body py-0">
                <h3 class="fw-semibold h4 mb-3 text-center text-sm-start pt-3 pt-sm-2 card-title">{{ event.title }}</h3>
                <ul class="p-0 list-unstyled">
                    <li class="date mb-2 text-center text-sm-start">{{ event.DateStart|format_datetime(locale='fr',pattern="d MMMM") }} {% if event.DateStart != event.DateEnd %} {{ '| ' ~ event.DateEnd | format_datetime(locale='fr',pattern="d MMMM")}} {% endif %} </li>
                    <li class="mb-2 pe-sm-5 text-center text-sm-start">{{ event.teaser|excerpt(50) }}</li>
                    <li class="d-flex align-items-baseline justify-content-center justify-content-sm-start text-center text-sm-start">
                        <svg class="me-2" width="15" fill="white" xmlns="http://www.w3.org/2000/svg"
                             viewbox="0 0 384 512">
                            <path
                                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/>
                        </svg>{{ event.adresse ~ ', ' ~ event.Ville | capitalize }}
                    </li>
                </ul>
            </div>
        </div>
    </a>
</div>

