{% setcontent options = 'Options' %}
<!-- Footer -->
<footer>

      <!-- footer section start --> 
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">À propos</h2>
                  <p class="ipsum_text">{{ options.footerText }} </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Navigation</h2>
                   {{ menu(
                    name = 'leftFooter',
                    template = 'partials/_sub_menu_footer.twig',
                    withsubmenus = false,
                ) }}
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text transparent">Our Product</h2>
                  {{ menu(
                    name = 'rightFooter',
                    template = 'partials/_sub_menu_footer.twig',
                    withsubmenus = false,
                ) }}
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Nous contacter</h2>
                  <div class="addres_link">
                     <ul>
                        <li><a href="#"><img src="{{ asset('images/map-icon.png') }}"><span class="padding_left_10">{{ options.adressBocaux }}</span></a></li>
                        <li><a href="#"><img src="{{ asset('images/map-icon.png') }}"><span class="padding_left_10">{{ options.adressATC45 }}</span></a></li>
                        <li><a href="#"><img src="{{ asset('images/mail-icon.png') }}"><span class="padding_left_10">{{ options.emailBocaux }}</span></a></li>
                        <li><a href="#"><img src="{{ asset('images/mail-icon.png') }}"><span class="padding_left_10">{{ options.emailATC45 }}</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->  
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Copyright 2022 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
         </div>
      </div>
      <!-- copyright section end -->  

</footer>
