{% setcontent options = "Options" %}
{% setcontent header = "Homepage" %}
<!-- Header bar -->
<header>
    <!-- header section start -->
    <div class="header_section">
        <nav class="navbar navbar-expand-lg">

            {{ menu(
                name = 'main',
                template = 'partials/_sub_menu_mobile.twig',
                withsubmenus = false,
            ) }}
        </nav>
        <!-- banner section end -->
        <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">{{ header.contentset.title|raw }}<br>
                                        <span style="color: #fff;">{{ header.contentset.text|raw }}</span>
                                    </h1>
                                    <div class="banner_text">{{ header.teaser }}</div>
                                    <div class="read_bt">
                                        <a href="#">
                                            En savoir plus</a>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center justify-content-center">
                                    <img src="{{ options.logo | default() }}" class="image_1" alt="logo">
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="d-flex justify-content-center">
            {{ menu(
                name = 'main',
                template = 'partials/_sub_menu_header.twig',
                withsubmenus = false,
            ) }}
            </div>
        </div>

    </div>
</header>
