{# This file might seem a little complex, because of the high density of tags.
   It uses Twig macros and ternary selectors. Read up on them, if required:
   macros: http://twig.sensiolabs.org/doc/templates.html#macros
   ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
#}

{# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
   invokes itself to insert the items of the submenus. #}
{% macro display_menu_item(item, loop, withsubmenus) %}
    {% from _self import display_menu_item %}
    {% apply spaceless %}
     <li>
        <a href="{{ item.uri }}" title='{{ item.title }}' class='nav-item nav-link'>
            {{- item.label|default(item.title) -}}
        </a>
    </li>
    {% endapply %}
{% endmacro %}

{# Make the macro available for use #}
{% from _self import display_menu_item %}

{% set totalQty = 0 %}
{% if app.session.get('cart') %}
    {% for item, qty in app.session.get('cart') %}
        {% set totalQty =  totalQty + qty %}
    {% endfor %}
{% endif %}

{# The main menu loop: Iterates over the items, calling `display_menu_item` #}

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i class="fa-solid fa-bars"></i></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% for item in menu %}
            {% if item.label is defined %}
                {{ display_menu_item(item, loop, withsubmenus) }}
            {% endif %}
        {% endfor %}
        <li>
            <a href="/cart" class="cart-nav-item">
                  <i class="fa-regular fa-cart-shopping fa-2xl"></i>
                <div class="cart-qty">
                    <span class="cartQty" id="cart_qty"> {{ totalQty }}</span>
                </div>
            </a>
        </li>
    </div>
</div>



