{# event = contentype #}

<div class="card-event col-5">
    <div class="product-details position-relative text-start overflow-hidden float-start p-4 col-6">
        <h3 class="text-center">{{event.title | upper}}</h3>
        <p class="information">{{ event.teaser}}</p>
        <!--<div class="control">
            <button class="btn">
                <span class="price">$250</span>
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <span class="buy">Get now</span>
            </button>
        </div>-->
    </div>
    <div class="product-image col-6">
        <img src="{{event|image}}" alt="{{ event.pictures.alt|default() }}">
        <div class="info d-flex flex-column align-items-center justify-content-center">
            <h4> Informations</h4>
            <ul>
                <li><strong>Du : </strong>{{ event.DateStart|date('d/m/Y') }}</li>
                <li><strong>Au : </strong>{{ event.DateEnd|date('d/m/Y') }}</li>
                <li><strong>À: </strong>{{ event.Ville }}</li>
                <li><strong>Adresse: </strong>{{ event.adresse }}</li>
                <li><strong>Code Postal: </strong>{{ event.codePostal }}</li>
            </ul>
        </div>
    </div>
</div>


