<div class="d-flex justify-content-center">
    <h1 class="text-center styled-title">
        {{ record|title }}
    </h1>
</div>
<div class="row p-4">
    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
        <img src="{{ record.image }}" class="img-fluid imageProduct" alt="{{ record.title }}"/>
    </div>
    <div class="col-12 col-md-8 d-flex flex-column align-items-center justify-content-center">
        {{ record.content }}
    </div>
</div>
<div class="outer-tabs-container">
    <div class="tabs-selector d-flex justify-content-center mt-4" id="tabsSelector">
        <div class="tab-selector col-xl-3 active" id="recipeSelector" data-tab="recipe">
            <i class="fas fa-utensils"></i>
            <span>Recette</span>
        </div>
        <div class="tab-selector col-xl-3" id="nutritionalSelector" data-tab="nutritional">
            <i class="fas fa-chart-pie"></i>
            <span>Informations nutritionnelles</span>
        </div>
    </div>

    <div class="tab-content" id="contentContainer">
        <div id="recipeContainer">
            {% if record.ingredient is not empty %}
                {{ record.ingredient }}
            {% else %}
                Information non disponible
            {% endif %}
        </div>
        <div id="nutritionalContainer" class="d-none">
            {% if record.nutrition is not empty %}
                {{ record.nutrition }}
            {% else %}
                Information non disponible
            {% endif %}
        </div>
    </div>
    <form hx-post="/cart/add/{{ record.id }}" hx-swap='none' class="d-flex flex-column align-items-center justify-content-center">
        <div class="row align-items-center justify-content-center mb-4 mt-5">
            <div class="form-group col-6">
                <input type="number" name="quantity" id="quantitySelector" class="form-control" value="1" min="1" max="100"/>
            </div>
            <div class="form-group col-6">
                <div class="productModal__control">
                    <button class="btn productModal__btn btnAddToCart" id="btnAddToCart" onclick="this.disabled=true;this.querySelector('.productModal__buy').innerHTML ='Produits ajouté';">
                        <span class="productModal__price" id="singleProductPrice" data-original-price="{{ record.price|number_format(2, ',', ' ') }}">{{ record.price|number_format(2, ',', ' ') }}
                            €</span>
                        <span class="productModal__shopping-cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </span>
                        <span class="productModal__buy">Commander</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var qtySelector = document.getElementById('quantitySelector');

    qtySelector.addEventListener('change', function () {
        const price = document.querySelector('#singleProductPrice');
        const initialPrice = price.dataset.originalPrice;
        const qty = qtySelector.value;
        const newPrice = (parseInt(initialPrice) * parseInt(qty));
        price.innerText = newPrice + ' €';
    });
</script>
