{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
    Listes des messages
{% endblock %}
{% block main %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dependency/datatables.css') }}"/>
    <style>
        table td,
        table th {
            vertical-align: middle;
            text-align: center;
        }
        .active,
        .collapsible:hover {
            background-color: #555;
        }

        .collapseContent {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
    {% include 'partials/_appFlash.twig' %}


    <table class="table table-striped table-bordered table-hover" id="contactTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">email</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Message</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for message in contactMessages %}
                <tr id="line-{{ message.id }}">
                    <th scope="row">{{ message.id }}</th>
                    <td>{{ message.name }}</td>
                    <td>{{ message.firstname }}</td>
                    <td>{{ message.email }}</td>
                    <td id="message-status-{{ message.id }}">
                        {% if message.isPublished %}
                            <span class="badge badge-success">Publié</span>
                        {% else %}
                            <span class="badge badge-danger">Non publié</span>
                        {% endif %}
                    </td>
                    <td>{{ message.timestamp|date('d/m/Y') }}</td>
                    <td>
                        <button id="diez-modal-open" class="btn btn-success" hx-get="message/{{ message.id }}" hx-target="#diez-modal">
                            Voir le message
                        </button>
                    </td>
                    <td>
                        <select class="form-select" name="status" hx-get="status/{{ message.id }}" hx-swap="none" data-initialvalue="{{ message.isPublished }}" data-lineid="{{ message.id }}">
                            <option value="0" {% if message.isPublished == 0 %} selected {% endif %}>
                                {{ message.isPublished == 0 ? 'Non publié' : 'Dépublié' }}
                            </option>
                            <option value="1" {% if message.isPublished == 1 %} selected {% endif %}>Publié</option>
                            <option value="2" hx-confirm="Are you sure you wish to delete ">Supprimer</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# Ici on affiche un texte fictif le temp de chargé les données via htmx. Pour modifier la modal, il faut apporté les modif dans le fichiers : adminContactModal.twig #}
    <div id="diez-modal-overlay">
        <div id="diez-modal">
            <div id="diez-modal-header" class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                    Message de John Doe</div>
                <div id="diez-modal-close">{% include '/images/close-x-svgrepo-com.svg' %}</div>
            </div>
            <div id="diez-modal-content">Lorem ipsum dolor sit amet</div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dependency/jquery-3.6.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dependency/htmx.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dependency/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/adminContactMessage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/diez-modal.js') }}"></script>
{% endblock %}
