{% extends 'partials/_master.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}
{% block main %}
    {% set totalItems = 0 %}
    {% for item in productsInCart %}
        {% set totalItems = totalItems + item.quantity %}
    {% endfor %}

    <div class="services_section layout_padding">
        <div class="row no-gutters w-100 mb-4 cart-row">
            <div class="col-md-7">
                <div class="product-details mr-2">
                    <div class="d-flex flex-row align-items-center">
                        <a href="/produits" class="backLink">
                            {{ include('images/arrow-left-svgrepo-com.svg') }}
                            <span class="ml-2">Continuez les achats</span>
                        </a>
                    </div>
                    <hr>
                    <h6 class="mb-0">Panier</h6>
                    <div class="d-flex justify-content-between">
                        <p>
                            Vous avez
                            <span id="totalQuantity">{{ totalItems }}</span>
                            {{ totalItems > 1 ? 'articles' : 'article' }}
                            dans votre panier</p>
                    </div>
                    {% for cart in productsInCart %}
                        {% set product = cart.product %}
                        {% set quantity = cart.quantity %}
                        <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded productLine" id="productLine-{{ product.id }}">
                            <div class="d-flex flex-row align-items-center col-6"><img class="rounded" src="{{ product.image }}" width="40">
                                <span class="ms-3 font-weight-bold d-block">{{ product.title }}</span>
                            </div>
                            <div class="d-flex flex-row align-items-center col-3 quantity justify-content-center">
                                <button hx-get='/cart/remove/{{ product.id }}' hx-swap='none' id="less_button" data-productid="{{ product.id }}">
                                    {{ include('images/show-less-svgrepo-com.svg') }}
                                </button>
                                <span class="d-block mx-4 singleProductQty" id="qty-{{ product.id }}">{{ quantity }}</span>
                                <button hx-get='/cart/add/{{ product.id }}' hx-swap='none' id="more_button" data-productid="{{ product.id }}">
                                    {{ include('images/show-more-svgrepo-com.svg') }}
                                </button>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-end col-3">
                                <span class="d-block mx-4 font-weight-bold">$900</span>
                                <button hx-get='/cart/clear/{{ product.id }}' hx-swap='none' id="remove_button" data-productid="{{ product.id }}">
                                    {{ include('images/trash-svgrepo-com.svg') }}
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-wrap">
                    {{ render(url('app_cart_render_form')) }}
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
