{% extends '@theme/partials/_master.twig' %}

{% setcontent options = 'Options' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/events.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardEvent.css') }}">
{% endblock %}

{% block main %}
    {% setcontent options = 'Options' %}
    {% setcontent futurEvent = 'evenements' where { DateStart: '>today || today' } limit 6 %}
    {% setcontent finishEvent = 'evenements' where { DateStart: '<today' } %}

    <div class="events services_section layout_padding layout_padding_event">
        <div class="container">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center services_taital">Nos évènements</h1>
                <p class="text-center">
                    {% if options and options.eventsIntro is not empty %}
                        {{ options.eventsIntro|raw }}
                    {% else %}
                        Veuillez renseigner le texte d'introduction pour la page vidéos dans l'administration
                    {% endif %}
                </p>

            </div>
            <div class="mt-5 text-center">
                {{ options.headerEvents ?? "Veuillez renseigner le champ se situant dans les options de l'administration" }}
            </div>
            <h2 class="my-5 h3 subtitle">Événements à venir</h2>
            <div class="cards-events d-flex flex-column flex-lg-row flex-lg-wrap justify-content-around">
                {% set fakeCard = 0 %}
                {% for record in futurEvent %}
                    {% include '@theme/partials/components/_event/_card_event.twig' with {'event': record} %}
                    {% set fakeCard = fakeCard + 1 %}
                {% endfor %}
                {% if fakeCard % 2 %}
                    <div class="mb-xl-3 col-12 col-xl-5 p-0"></div>
                {% endif %}
            </div>

            <div class="d-flex justify-content-center my-5">
                {{ pager(futurEvent, template = 'partials/helpers/_pager.html.twig') }}
            </div>
            <hr class="my-5">

            <h2 class="pt-5 my-5 h3 subtitle">Événements terminés</h2>
            <div class="cards-events d-flex flex-column flex-lg-row flex-lg-wrap justify-content-around">
                {% set card = 1 %}
                {% for record in finishEvent %}
                    {% if card <= 2 %}
                        {% include '@theme/partials/components/_event/_card_event.twig' with {'event': record} %}
                        {% set card = card + 1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
