{% extends '@theme/partials/_master.twig' %}
{% use '@theme/partials/components/_history/_card_about.twig' %}

{% setcontent history = 'Histoire' %}
{% set images = [] %}
{% for picture in history.pictures %}
    {% set images = images|merge([picture]) %}
{% endfor %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/histoire.css') }}">
    {{ block('cardAboutStylesheet') }}
{% endblock %}


{% block main %}
    {% if history %}
        <div class="history">
            <div class="services_section layout_padding flex flex-column">
                <div
                    class="position-relative introduction d-flex flex-column flex-lg-row justify-content-center mb-5 align-items-end pt-5">
                    <img id="image-1" class="image-medium image-rounded position-absolute" src="{{ asset(images[0]) }}"
                         alt="image illustration">
                    <img id="image-2" class="image-max image-rounded position-absolute" src="{{ asset(images[1]) }}"
                         alt="image illustration">
                    <div class="text-center col-lg-6 d-flex flex-column my-5 py-5">
                        <h1 class="pt-5 text-center mb-3 mb-sm-5">{{ history.title | upper }}</h1>
                        {{ history.introduction }}
                    </div>
                    <img id="image-3" class="image-max image-rounded position-absolute" src="{{ asset(images[2]) }}"
                         alt="image illustration">
                    <img id="image-4" class="image-min image-rounded position-absolute" src="{{ asset(images[3]) }}"
                         alt="image illustration">
                </div>

                <div class="presentation d-flex flex-column align-items-end justify-content-center position-relative">
                    <div class="col-8 d-flex flex-column p-5">
                        <h2 class="text-end py-5 mt-5 text-light">Bocaux des champs ?</h2>
                        <div
                            class="text text-light d-flex flex-column justify-content-between align-items-center text-end pb-5">
                            {{ history.presentation }}
                        </div>
                    </div>
                    <img id="image-5" class="image-max image-rounded position-absolute" src="{{ asset(images[3]) }}"
                         alt="image illustration">
                </div>

                <div
                    class="demarche d-flex flex-column flex-lg-row align-items-center justify-content-between mt-5 mt-lg-0 position-relative py-5">
                    <div class="vision col-4">
                        <h2 class="text-center">Notre vision</h2>
                        <div class="text d-flex flex-column justify-content-between align-items-center text-center">
                            {{ history.demarche.vision | raw }}
                        </div>
                    </div>
                    <div class="images d-flex flex-column justify-content-between align-items-center">
                        <img class="image-medium image-rounded position-static mb-5" src="{{ asset(images[0]) }}"
                             alt="image illustration">
                        <img class="image-medium image-rounded position-static" src="{{ asset(images[1]) }}"
                             alt="image illustration">
                    </div>
                    <div class="vision col-4">
                        <h2 class="text-center">Notre mission</h2>
                        <div class="text d-flex flex-column justify-content-between align-items-center text-center">
                            {{ history.demarche.mission | raw }}
                        </div>
                    </div>
                </div>

                <div class="atc presentation d-flex text-light justify-content-around position-relative p-5 align-items-center">
                    <div class="col-8 d-flex flex-column justify-content-center">
                        <h2 class="text-light text-start">ATC45</h2>
                        {{ history.atc.paragraph | raw }}
                    </div>
                    <img class="image-max image-rounded" src="{{ asset(history.atc.logo.path) }}" alt="image illustration">
                </div>

                <div class="about introduction">
                    <h2>Qui sommes-nous?</h2>
                    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include '@theme/partials/_noContent.twig' %}
    {% endif %}
{% endblock %}
