<div class="{{ class }}">
    <a href="{{record|link}}" alt="{{record|title}}" class="card actualityCard">
        {% if record|image %}
            <div class="thumb" style="background-image: url({{ record|image }});"></div>
        {% endif %}
        <article>
            <h2>{{record|title}}</h2>
        </article>
    </a>
</div>
