{% extends 'partials/_master.twig' %}


{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/videos.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% setcontent options = 'Options' %}


{% block main %}
    <div class="container">
        <h1 class="my-5 fw-bold text-center text-lg-start">
            Nos videos
        </h1>
        <p class="text-center">
            {% if options and options.videosIntro is not empty %}
                {{ options.videosIntro|raw }}
            {% else %}
                Veuillez renseigner le texte d'introduction pour la page vidéos dans l'administration
            {% endif %}
            {% include 'partials/_tagCloud.twig' with {'taxonomyType': 'videos-tags'} %}
            <div class="row g-0 justify-content-around">
                {% for record in records %}
                    {% include 'partials/vidéos/_vidéos-card.twig' %}
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center align-items-center w-100">
                {{ pager(records, template = 'helpers/_pager_bootstrap.html.twig') }}</div>
        </p>
    </div>
{% endblock %}
