{% block javascripts %}
    <script src="{{ asset('js/_adminQrCode/adminQrCodeListing.js') }}"></script>
{% endblock %}
<table class="table table-hover text-center table-responsive w-100" id="qrCode__table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Titre</th>
            <th scope="col">Lien</th>
            <th scope="col">
                <span class="btn btn-primary" data-cliked="false" id="qrCode__selectAll"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr class="formTr" data-id='{{loop.index}}'>
                {% for field in record.fields %}
                    {% include 'partials/_adminQr/_adminFieldType.twig' with {'type': field|type , 'record': record} %}
                {% endfor %}
                <td>{{ record|title }}</td>
                <td>
                    <a href="{{ record|link }}" target="_blank">
                        {{ record.slug }}</a>
                </td>
                <td class="checkbox__td">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input qrCode__checkbox qrCode__checkbox_index{{loop.index}}" type="checkbox" value="{{ record.contentType }}" id="flexCheckDefault" name="{{ record.slug }}">
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" id="qrCode__sendButton">Aucune vidéo sélectionné</button>
</div>
