{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}
{% setcontent options = 'Options' %}
<footer class="d-flex justify-content-center my-4">
    <div class="footer-container">
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center my-3">
                <img src="{{ asset('pictures/BDC-logo.png') }}" alt="logo">
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-8 col-xl-4 d-flex justify-content-around align-items-center">
                {{ menu(
                    name = 'main',
                    template = 'partials/_sub_menu_footer.twig',
                    withsubmenus = false,
                ) }}
            </div>
            <div class="col-12 col-md-8 col-xl-4 d-flex justify-content-center">
                <div class="mapouter w-sm-70">
                    <iframe width="450" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=orl%C3%A9ans%2045000&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
            <div class="col-12 col-md-8 col-xl-4 ">
                <div class="row">
                    <h5>
                        Bocaux des champs
                    </h5>
                    <br>
                    <p>Conserverie bio & artisanale du Loiret</p>
                </div>
                <div class="row ">
                    <ul class="information-list">
                        {% if options %}
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z"/></svg>
                                {% if options.emailBocaux is not empty %}
                                    {{ options.emailBocaux }}
                                {% else %}
                                    Veuillez renseigner l'email bocaux des champs dans l'administration
                                {% endif %}
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg>
                                 {% if options.adressBocaux is not empty %}
                                    {{ options.adressBocaux }}
                                {% else %}
                                    Veuillez renseigner l'adresse bocaux des champs dans l'administration
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
