<!DOCTYPE html>
<html lang="{{ htmllang() }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
                           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {{- config.get('general/sitename') ~ ' | ' -}}
            {%- if record|default and record.title -%}
                {%- if record|feature == 'homepage' -%}
                    {{ 'Accueil' }}
                {%- else -%}
                    {{ record.title }}
                {% endif %}
            {%- endif -%}
        </title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/variables.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'partials/_navbar.twig' %}
        {% endblock navbar %}
        <main>
            {% block body %}

                {% block main %}{% endblock main %}


            {% endblock body %}
        </main>

        {% block aside %}{% endblock aside %}

        {# {{ include('partials/_footer.twig') }} #}

        {% block javascripts %}
            <script src="{{ asset('js/theme.js') }}"></script>
            <script defer src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
