<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
                                           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record|default and record.title -%}
                {{- record.title ~ ' | ' -}}
            {%- endif -%}
            {{- config.get('general/sitename') -}}
            {%- if record|default == null and config.has('general/payoff') -%}
                {{- ' | ' ~ config.get('general/payoff') -}}
            {%- endif -%}
        </title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="{{ asset('js/theme.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {{ include('partials/_header.twig') }}

        <main class="container">
            {% block body %}


                {% block main %}{% endblock main %}


            {% endblock body %}
        </main>

        {% block aside %}{% endblock aside %}

        {{ include('partials/_footer.twig') }}

    </body>
</html>
