{# This file might seem a little complex, because of the high density of tags.
   It uses Twig macros and ternary selectors. Read up on them, if required:
   macros: http://twig.sensiolabs.org/doc/templates.html#macros
   ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
#}

{# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
   invokes itself to insert the items of the submenus. #}
{% macro display_menu_item(item, loop, withsubmenus) %}
    {% apply spaceless %}
        <li class="nav-item me-sm-5">
            <a href="/{{ item.link }}" title="{{ item.title }}" aria-current="page" class="{% if loop.first %}{{ 'first' }}{% elseif loop.last %}{{ 'last' }}{% endif %}{{ item|current ? ' active' }}">{{- item.label | upper -}}</a>
        </li>
    {% endapply %}
{% endmacro %}

{# Make the macro available for use #}
{% from _self import display_menu_item %}

{% setcontent homepage = 'homepage' %}
<div class="menu__mobile">
	<div class="menu__mobile_button">
		<span></span>
	</div>
</div>

<section class="navbar" id="navbar">
<div class="d-flex justify-content-center align-items-center h-100">
    <ul class="text-center mt-5 mt-sm-0">
        {% for item in menu %}
            {% if item.label is defined %}
                {{ display_menu_item(item, loop, withsubmenus) }}
            {% endif %}
        {% endfor %}
    </ul>
    </div>
</section>